@import "tailwindcss";

body {
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(11, 86, 143, 0.55) 0%,
    rgba(61, 115, 216, 0.43) 50%,
    rgba(19, 54, 230, 0.77) 100%
  );
}

h1 {
  font-size: 40px;
  font-weight: bold;
}
